FRAPPE_BRANCH=version-15
NODE_MAJOR=24
BENCH_DIR=./frappe-bench
DEFAULT_REPO_URL=https://github.com/mshahwaiz-ali/pos.git
PRODUCTION_DOMAIN=erp.example.com
PRODUCTION_SITE=erp.example.com
LETSENCRYPT_EMAIL=admin@example.com
APP_NAME=ledgix_saas
